@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


header {
    margin-bottom: 50px;
    border-bottom: 2px solid #94C65C;
}

.nav-branding {
    margin-left: 20px;
    color: #ab3f3f;
}

h1 {
    font-size: 1.2rem;
}


.nav-menu a {
    color: #ab3f3f;
}

.nav-menu a:hover {
    color: #b14e4e;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(273, 4%, 51%);
}

form>button>a {
    color: #f8f8f8;
}

ul {
    list-style-type: none;
}


.hamburger {
    width: 30px;
    height: 30px;
    margin: auto 3rem;
    display: none;
}

.close {
    width: 35px;
    height: 35px;
    margin: auto 3rem;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 80px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }

.nav-menu {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu button {
    border: none;
    outline: 0;
    text-align: center;
    margin-top: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 24px 0 24px 0;
    background-color: #94C65C;
}

.nav-menu button:hover {
    background-color: #a1d863;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    color: hsl(0, 0%, 98%);
}

.nav-list {
    display: flex;
    width: 720px;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0 70px;
}

.intro>h1 {
    font-size: 1.6rem;
}

.intro>h1,
.intro>p {
    text-align: center;
}

.park-search {
    margin-top: 45px;
    /* display: flex;
    justify-content: center; */
}

input {
    width: 18rem;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid #b14e4e;
    font-size: 16px;
}

form>button {
    margin-left: 12px;
    height: 3.5rem;
    width: 6rem;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #94C65C;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

form>button:hover{
    background-color: #a1d863;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    color: hsl(0, 100%, 100%);
}

.map-hint, .map-hint::before {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: #ab3f3f;
}

.map-hint::before {
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: 1;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    height: 12px;
    content: "";
    transform: rotate(45deg);
}

.map-hint {
    border-radius: 4px;
    position: relative;
    z-index: 2;
    display: block;
    margin-bottom: 36px;
    padding: 14px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    width: 39rem;
    margin-top: 22px;
}

.map-hint::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 3;
    margin-left: -20px;
    width: 40px;
    height: 10px;
    background: #ab3f3f;
    content: "";
}

.map-image {
    width: 590px;
    height: 340px;
    margin-left: 10px;
}

.tracker {
    margin-top: 70px;
}

.tracker-digit {
    margin-top: 30px;
    text-align: center;
}

.digit-counter {
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin: 0 1px;
    padding: 2px 5px;
    background: linear-gradient(#ab3f3f #b14e4e #c76464 #e44e4e);
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    width: 32px;
    background-color: #e44e4e;
}

.ticker-label{
    margin-top: 10px;
}

.locations {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
}

.digit-counter.flip {
    animation: 0.6s linear flipping;
}

@keyframes flipping {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(180deg);
    }
}